.guestDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 3% auto;
  background: white;
  border: 1px solid rgb(190, 190, 190, 0.5);
  color: #3d3d3d;
  padding: 1.3rem;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgb(190, 190, 190, 0.5);
}

.guestDataTitle h3 {
  color:#2e387f;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Formular', sans-serif;
  padding: 0;
  margin: 0 2%;
}

.guestDataTitle {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guestDataTitle::before, .guestDataTitle::after{
  background: url(data:image/svg+xml;base64,CjxzdmcgaGVpZ2h0PSI5IiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgoJPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNGM3N2M3IiBkPSJNMCw5TDYsMCIgc3Ryb2tlLXdpZHRoPSIxcHgiPjwvcGF0aD4KPC9zdmc+Cg==);
  background-position: 50% 50%;
  background-repeat: repeat-x;
  content: '';
  display: inline-block;
  width: 38%;
  height: 1.4em;
  box-sizing: border-box;
}
.guestDataTitle::before{
  margin-left: -100%;
}
.guestDataTitle::after{
  margin-right: -100%;
}

.formContainer h5 {
  color:#2e387f;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2%;
}

/* стили для доп комментариев */
.linedInfo {
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.linedInfo:before,
.linedInfo:after {
    content: "-----------------------------------------------------------------------------------------------------------------";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0.2px;
    background-color: #3d3d3d50;
    position: relative;
}

.linedInfo:before {
  margin-left: -100%;
  left: -14px;
}
.linedInfo:after {
  margin-right: -100%;
  right: -14px;
}

/* Стили для информации, которая подтянется из стейта или БД */
.bookingDataFromState {
  padding: 0 3%;
  align-self: flex-start;
  width: 100%;
  margin: 3% 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: #009bac3a;
  /* border-top: 3px solid #3d3d3d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.datesAndGuestsData {
  display: flex;
  width: 100%;
  margin: 1% 1% 0 1%;
}

.datesAndGuestsData div {
  /* margin-right: 0%; */
  min-width: 15.5rem;
}

.datesAndGuestsData .icon {
  margin-right: 5%;
  margin-bottom: 1%;
}

.totalPriceData {
  margin: 0 1% 1% 1%;
}

/* стили для контантных данных гостя */
.contactData {
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid white;
  /* padding: 0.5rem; */
  margin: 0 0.3rem;
  /* margin-bottom: 1rem; */
}

.alertBooking {
  font-size: 0.9rem;
  /* line-height: .6rem; */
  border: 1px solid #2e387f;
  color: #2e387f;
  border-radius: 0.15rem;
  padding: 0.45rem 0.6rem;
  display: flex;
  justify-content:center;
  align-items:center;
}

.guestDataForm {
  display: flex;
  flex-wrap: wrap;
  margin: 0.6rem 0 1rem 0;
}

.guestDataForm input {
  margin: 0.5rem 0.8rem 0.5rem 0;
  width: 12.9rem;
  height: 2rem;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  /* line-height: .9rem; */
  padding: 0 0.3rem 0 0.6rem;
  box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgb(0 0 0 / 27%), 0 0 0 1px hsl(0deg 0% 45% / 27%);
  border: 0.5px solid white;
  border-radius: 0.15rem;
}

.guestDataForm input:hover, .guestDataForm input:active {
  border: 1px solid #009bac;
  /* box-shadow: none; */
  box-shadow:0 0 2.5px #009bac;
  /* box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgb(0 0 0 / 27%), 0 0 0 1px hsl(0deg 0% 45% / 27%); */
}

/* чек-боксы */
.checkboxes {
  margin-bottom: 1.3rem;
}

.checkboxInfo {
  background-color: rgba(61,61,61,.09);
  border-radius: 0.15rem;
  outline: none;
  padding: 0.3rem 0.6rem 0.3rem 0.3rem;
  margin-top: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkboxInfo input {
  flex: 0 0 auto;
  padding: 0;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.1rem;
}

.checkboxInfo span {
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.checkboxInfo:hover {
  background-color: #009bac3a;
}

/* стили для доп информации в форме */

.addInfoFromGuest {
  align-self: flex-start;
  margin: 0.5rem; 
  margin-left: 0;
  width: 100%;
}

.addInfoFromGuest h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0;
}

.addInfoFromGuest p {
  font-size: 0.9rem;
  /* margin-left: 0.5%; */
}

.addInfoFromGuest textarea {
  margin-top: 0.5%;
  text-overflow: ellipsis;
  padding: 0.45rem 0.6rem;
  line-height: 0.9rem;
  white-space: pre-wrap;
  word-break: break-word;
  width: 0;
  min-width: 99%;
  background: #fff none;
  box-shadow: inset 0 0 0 0 transparent, 0 -1px 0 0 rgb(0 0 0 / 27%), 0 0 0 1px hsl(0deg 0% 45% / 27%);
  border: none;
  font-size: 0.9rem;
  overflow: hidden;
  min-height: 3.9rem;
  height: 100%;
  border-radius: 0.15rem;
  resize: none;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.bookingBtn {
  /* align-self: flex-end; */
  margin-right: 0.7%;
  margin-top: 1%;
  color: #ffffff;
  background-color: #009bac;
  height: 2.8rem;
  border: 0 none;
  font-size: 1rem;
  padding: 0 3%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  border-radius: 15px;
}

.bookingBtn:hover{
  background: linear-gradient(to top right, #2e387f, #009bac);
}

.topStockBlock {
  width: 60rem;
  height: 7rem;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/933/301/original/abstract-fluid-waves-blue-background-vector.jpg');
  background-size: cover;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 5px 15px rgb(190, 190, 190, 0.5);
}

.stockBlock{
  display: flex;
  justify-content: center;
  flex-direction:column;
  width: 60rem;
  height: 18rem;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 5px 15px rgb(190, 190, 190, 0.5);
}

.title{
  margin: 0 0 0 5%;
  line-height: 1.7;
  color: black;
  font-size: 1.5rem;
  font-family: 'Ubuntu',Arial,sans-serif;
  font-weight: 600;
  text-align: left;
}

.bodyText{
  margin: 0 0 0 5%;
  line-height: 2;
  color: black;
  font-size: 1.125rem;
  font-family: 'Ubuntu',Arial,sans-serif;
  text-align: left;
}

.button{
  margin-left: 72%;
  margin-top: 5%;
  width: 13.75rem;
  height: 4.375rem;
  border-radius: 30px;
  background-color: #009bac;
  background-position: center center;
  border: none;
  transition: .7s;
}

.button:hover{
  background-color: #2e387f;
  border: none;
  transform: scale(1.07);
  transition: .7s;
}

.buttonText{
  color: white;
  font-size: 1.125rem;
  font-family: 'Ubuntu',Arial,sans-serif;
  font-weight: 600;
}
