.container {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}

.leftSide {
  margin: 0 0 0 10.313rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leftSideTitle {
  width: 19.563rem;
  height: 6.75rem;
  color: #1a1a1a;
  font-size: 35px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 600;
}

.leftSideDescription {
  width: 18.75rem;
  height: 6rem;
  text-align: justify;
  margin: 5% 0;
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;

}

.rightSide {
  margin: 0 10% 0 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  .container {
    display: none;
  }
}
