/* container, связан стилями с родительским элементом - WELCOME_SCRINE */
.bookingWelcomeContainer {
  position: relative;
  max-width: 52.188rem;
  width: 80%;
}

/* доп стили для позиционирования элемента с формой и svg внутри большого welcome-div'а */
.helperForPosition {
  width: 100%;
  position: absolute;
  left: 9%;
  bottom: 8%;
}

/* форма для формы бронирования */
.bookingWelcomeSvg {
  fill:none; 
  max-width: 62.188rem;
  max-height: 29.625rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 21%;
  width: 100%;
  margin-left: 3%;
}

/* стили заголовков формы */
.bookingLabel {
  width: 45%;
  margin-bottom: 5%;
  margin-left: 1%;
}

.bookingLabelTitle {
  font-size: 1.3rem;
  color: #2e387f;
  font-weight: bolder;
  white-space: nowrap;
}

.bookingLabelSubTitle {
  font-size: 1rem;
  white-space: nowrap;
  color: #757575;
}

/* стили формы */
.bookingWelcomeForm {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.bookingWelcomeFormInput {
  color:#757575;
  border:1px solid #f0f0f0; 
  background-color:#fff; 
  border-radius:1.25rem; 
  font-size:1rem;
  font-weight:400;
  height:100%;
  /* margin-right: 3vh; */
  min-width: 4.375rem;
  max-width: 11.25rem;
  padding: 0 7% 0 10%;
}

.bookingWelcomeFormButton{
  color:#fff;
  background-color:#009bac;
  border-radius:1.25rem;
  border: none;
  font-weight:600;
  font-size:0.9rem;
  width:100%;
  height:3.125rem;
  padding:0 0.938rem;
  display:block;
  margin-left: 1.25rem;
}

.bookingWelcomeFormButton:hover{
  background: linear-gradient(to top right, #2e387f, #009bac);
}

.bookingWelcomeFormElement {
  position: relative;
  max-width: 200px;
}

/* нужно, чтобы скрыть label у кнопки */
.hidden {
  visibility: hidden;
}

label {
  position: absolute;
  bottom: 105%;
  left: 10%;
  color: grey;
}

/* добавляет иконку с человеком в инпут кол-ва гостей */
.icon:before {
  content: '';
  position: absolute;
  top: 5rem;
  bottom: 0;
  right: 0.35rem;
  margin: auto 0;
  width: 22px;
  height: 22px;
  background: url('https://cdn-icons-png.flaticon.com/512/74/74472.png') no-repeat;
  background-size: cover;
}

@media (max-width: 1425px) {
  .bookingLabelTitle {
    font-size: 1rem;
  }
  
  .bookingLabelSubTitle {
    font-size: 0.7rem;
  }

  .bookingWelcomeFormInput {
    min-width: 3.375rem;
    max-width: 9.25rem;
    padding: 0 6%;
    height: 90%
  }

  .bookingWelcomeFormButton{
    height:2.8rem;
  }
}
