/* container, связан стилями с родительским элементом - WELCOME_SCRINE */
.bookingWelcomeContainer {
  position: relative;
  max-width: 52.188rem;
  width: 80%;
}

/* доп стили для позиционирования элемента с формой и svg внутри большого welcome-div'а */
.helperForPosition {
  width: 100%;
  position: absolute;
  left: 15%;
  bottom: 8%;
}

/* форма для формы бронирования */
.bookingWelcomeSvg {
  fill:none; 
  transform: scale(0.9);
  max-width: 62.188rem;
  max-height: 29.625rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 21%;
  width: 100%;
}

/* стили заголовков формы */
.bookingLabel {
  width: 45%;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 1%;
}

.bookingLabelTitle {
  font-size: 18px;
  /* color: #2e387f; */
  /* font-weight: bolder; */
  white-space: nowrap;
  font-family: 'Formular', sans-serif;
  color: #2e387f;
  font-weight: 600;
}

.bookingLabelSubTitle {
  /* font-size: 1rem;
  white-space: nowrap;
  color: #757575; */
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.6;
}

/* стили формы */
.bookingWelcomeForm {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.bookingWelcomeFormInput {
  color:#757575;
  border:1px solid #f0f0f0; 
  background-color:#fff; 
  border-radius:1.25rem; 
  font-size:1rem;
  font-weight:400;
  height:100%;
  /* margin-right: 3vh; */
  min-width: 4.375rem;
  max-width: 11.25rem;
  padding: 0 7% 0 10%;
}

.bookingWelcomeFormButton{
  color:#fff;
  background-color:#009bac;
  border-radius:1.25rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  width:100%;
  height:3.125rem;
  padding:0 0.938rem;
  display:block;
  margin-left: 1.25rem;
}

.bookingWelcomeFormButton:hover{
  background: linear-gradient(to top right, #2e387f, #009bac);
}

.bookingWelcomeFormElement {
  position: relative;
  max-width: 200px;
}

/* нужно, чтобы скрыть label у кнопки */
.hidden {
  visibility: hidden;
}

.bookingWelcomeFormElement label {
  position: absolute;
  bottom: 105%;
  left: 5%;
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;
}

/* добавляет иконку с человеком в инпут кол-ва гостей */
.icon:before {
  content: '';
  position: absolute;
  top: 78px;
  bottom: 0;
  left: 1.8rem;
  margin: auto 0;
  width: 16px;
  height: 16px;
  background: url('https://cdn-icons-png.flaticon.com/512/74/74472.png') no-repeat;
  background-size: cover;
}

@media (max-width: 1425px) {
  .bookingLabelTitle {
    font-size: 1rem;
  }
  
  .bookingLabelSubTitle {
    font-size: 0.7rem;
  }

  .bookingWelcomeFormInput {
    min-width: 3.375rem;
    max-width: 9.25rem;
    padding: 0 6%;
    height: 90%
  }

  .bookingWelcomeFormButton{
    height:2.8rem;
  }
}

@media (max-width: 450px) {
  .bookingWelcomeSvg {
    display: none;
  }

  .helperForPosition {
    left: 5%;
  }

  .bookingWelcomeContainer {
    position: relative;
    max-width: 22.188rem;
    width: 90%;
  }

  .flexContainer {
    background: #fff;
    border-radius: 1.25rem;
    top: -210px;
    width: 100%;
    min-height: 200px;
  }

  .bookingWelcomeForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
  }

  .bookingLabel {
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
  }
  
  .bookingLabelTitle {
    font-size: 0.9rem;
    white-space:normal;
  }

  .bookingWelcomeFormElement {
    position: relative;
    max-width: 120px;
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .bookingWelcomeFormInput {
    font-size:0.8rem;
    font-weight:400;
    height:2rem;
    min-width: 3.375rem;
    max-width: 8.1rem;
    padding: 0 8% 0 7%;
  }

  .bookingWelcomeFormElement label {
    font-size: 0.7rem;
  }

  .bookingWelcomeFormButton{
    font-weight: 400;
    font-size: 0.7rem;
    width:100%;
    height:2rem;
    padding:0 0.938rem;
    margin: 0;
    margin-bottom: 10px;
  }

  .hidden {
    display: none;
  }

  .icon:before {
    top: 3.5rem;
    bottom: 0;
    right: 0.15rem;
    width: 20px;
    height: 20px;
  }
}
