.navigationBlock{
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin: 1% auto;
  font-family: 'Ubuntu',Arial,sans-serif;
}
.nav{
  width: 50%;
  justify-content: center;
  padding: 0;
}
.nav ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  justify-content: center;
  padding: 0;
}

.nav a {
  padding: 0.625rem 1.875rem 0.688rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  display: block; /* Блочная ссылка */
  white-space: nowrap; /* Запрещаем перенос текста */
  color: #1a1a1a;
  font-size: 1.125rem;
  font-family: 'Ubuntu',Arial,sans-serif;
 }
 .nav a:hover {
  color:#757575; 
  border-bottom: solid 2px #009bac;
  margin-bottom: -2px;
 }

.numberText{
  color: #1a1a1a;
  font-size: 1.25rem;
  white-space: nowrap;
  margin-left: 1.25rem; 
  padding: 0 1.25rem 0 0.063rem;
 }

.Messengers{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

.icons{
  width: 2.5rem;
  height: 2.5rem;
}
.phone{
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(./img/phoneStatic.png);
  background-size: cover;
  background-position: center center;
}
.phone:hover {
  background-image: url(./img/phone.gif);
  background-size: cover;
  background-position: center center;
}

.arrow{
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.625rem;
}
.arrowClick{
  width: 0.938rem;
  height: 0.938rem;
  margin-right: 0.625rem;
  transform: rotate(90deg);
}

.iconsHidden {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
  visibility: hidden;
}
.iconsHiddenOn {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
  visibility: visible;
}

.logo{
  padding-left: 0.313rem;
  width: 12.5rem;
  height: 6.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.logo:hover{
  cursor: pointer;
}

.phoneBlock{
  background-color:white;
  border: 0.125rem solid #009bac;
  width: 5.25rem;
  height: 3.438rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
}
.MessengersNumber{
  display: flex;
  align-items: center;
}
