.benefitsTitle {
  margin-top: 10%;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
}

.benefitsTitleBig {
  margin: 0;
  color: #1a1a1a;
  font-size: 35px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 600;
}

.benefitsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLine {
  margin: 3.125rem auto 1.825rem;
  width: 83%;
  display: flex;
  justify-content: space-evenly;
}

.bottomLine {
  margin-right: 10%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.contactDiv {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactDivText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10%;
}

.contactDivPhone {
  transition: .3s;
}

.contactDivPhone:hover {
  transform: scale(1.07);
  transition: .3s;
}

.contactDivPhoneNumber:hover{
  color:#1a1a1a;
}

.contactDivPhoneNumber {
  display: block;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 25px;
  font-family: 'Formular', sans-serif;
  line-height: 1;
  font-weight: 500;
}

.benefitsTitle span{
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;
}

.contactDivText h3{
  color: #1a1a1a;
  font-size: 18px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 500;
}

.contactDivText span{
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.5;
}
