.photoBlockGestZone{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.GestZoneRightPhoto{
  background-color:forestgreen;
  border-radius: 1.875rem;
  margin: 0.469rem;
  width: 35.6rem;
  height: 20.8rem;
}
.GestZoneLeftPhoto{
  background-color:blueviolet;
  border-radius: 1.875rem;
  margin: 0.469rem;
  width: 35.6rem;
  height: 20.8rem;
}
