.photoBlockMain{
  display:flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.photoBlockTitle p{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.188rem;
  font-family: 'Ubuntu',Arial,sans-serif;
}
.photoBlockTextBody{
  display: flex;
  justify-content: center;
}
.photoBlockButtons{
  display: flex;
  justify-content:center;
  margin: 2.813rem auto 2.5rem;
}

.photoBlockButton{
  color: #1a1a1a;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Formular', sans-serif;
  border-radius: 0.938rem;
  border:0;
  margin: 0 0.469rem 0;
  background-color: #e3e3e3;
  width: 8.125rem;
  height: 3.125rem;
}
.photoBlockButton:hover {
  background: linear-gradient(to bottom left, #6979f7, #009bac);
  color:white;
 }

 .photoBlockButtonLast{
  color: #1a1a1a;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Formular', sans-serif;
  border-radius: 0.938rem;
  border:0;
  margin: 0 0.469rem 0;
  background-color: #e3e3e3;
  width: 8.125rem;
  height: 3.125rem;
}
.photoBlockButtonLast:hover {
  background: linear-gradient(to bottom left, #2e387f, #009bac);
  color:white;
 }

.photoBlockButton p{
  margin: 0;
}
.photoBlockButtonsBig{
  color: #1a1a1a;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Formular', sans-serif;
  border-radius: 0.938rem;
  border:0;
  margin: 0 0.469rem 0;
  background-color: #e3e3e3;
  width: 14.375rem;
  height: 3.125rem;
}

.photoBlockButtonsBig:hover {
  background: linear-gradient(to top right, #2e387f, #009bac);
  color:white;
 }

/* .photoBlockCardsPhoto{
  height: 34.375rem;
} */

.photoBlockBigTitle {
  margin: 50px 0 2.5%;
  text-align: center;
  color: #1a1a1a;
  font-size: 35px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 600;
}

.photoBlockParagraph {
  margin: 0;
  text-align: center;
  color: #1a1a1a;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  opacity: 0.6;
}

@media (max-width: 450px) {
  .photoBlockMain {
    display: none;
  }
}
