.img {
  width: 300px;
  height: 210px;
  border-radius: 16px;
  margin: 10px 5px 5px 5px;
  position: relative;
  z-index: -1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: fit-content;
  margin: 10px 30px;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.row_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.img_container {
  position: relative;
}
.status {
  font-weight: bold;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  border-radius: 14px;
  z-index: -1;
  position: absolute;
  bottom: 20px;
  left: 5px;
  color: aliceblue;
}
.available {
  background: linear-gradient(45deg, #2e387f, #3CB371);
}
.taken {
  background: linear-gradient(45deg, #2e387f, #DC143C);
}
.room_name {
  border-bottom: 1px solid black;
  margin-left: 0;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
  color: black;
}
