.mainBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}

.leftBlock{
  display: flex;
  align-items: flex-end;
  width: 28.8%;
  /* height: 600px; */
  height: 430px;
  background-color:#2e387f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/933/301/original/abstract-fluid-waves-blue-background-vector.jpg');
}
.imgasLeft{
  width: 108%;
  /* width: 100%; */
  margin-left: 1px;
  background-size: cover;
  background-position: center center;
}
.imgasLeftPalm{
  width: 100px;
  margin-left: 150px;
  background-size: cover;
  background-position: center center;
}
.stockBlock{
  display: flex;
  flex-direction:column;
  width: 39.51%;
  height: 430px;
  background: linear-gradient(to top right, #009bac, #2e387f);
  border-radius: 30px;
}

.imgBow{
  width: 287px;
  height: 277px;
}
.mapBlock{
  width: 14.9%;
  height: 430px;
  background-color:#009bac;
  border-radius: 30px;
  transition: .7s;
}

.mapBlock:hover {
  transform: translate(0, -5%);
  transition: .7s;
 }

.rightBlock{
  width: 12.5%;
  height: 430px;
  background-color:#009bac;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center right;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/933/301/original/abstract-fluid-waves-blue-background-vector.jpg');

}

.title{
  margin: 12% 0 0 15%;
  line-height: 1,7;
  color: #fefcfc;
  font-size: 35px;
  font-family: 'Formular', sans-serif;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.titleText{
  margin: 1% 0 0 15%;
  line-height: 1,7;
  color: #fefcfc;
  font-size: 25px;
  font-family: 'Formular', sans-serif;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.titleProcent{
    margin: 1% 0 0 15%;
    line-height: 1,7;
    color: #fefcfc;
    font-size: 35px;
    font-family: 'Formular', sans-serif;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.bodyText{
  margin: 2% 0 0 15%;
  line-height: 2;
  color: #fefcfc;
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  text-align: left;
}

.button{
  margin: 6% 0 0 15%;
  width: 12.5rem;
  height: 3.75rem;
  line-height: 1.55;
  border-width: 1px;
  border-radius: 20px;
  border-color: transparent;
  border-style: solid;
  background-color: #e3e3e3;
  transition: .7s;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Formular', sans-serif;
  transition: .7s;
  border: none;
}

.button:hover{
  transform: scale(1.07);
  transition: .7s;
  border: none;
}

.buttonText{
  font-size: 16px;
  font-family: 'Formular', sans-serif;
  font-weight: 500;
}
