.startContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 3%;
}

.startLeftContainer {
  width: 70%;
  padding: 10px;
 }

.startRightContainer {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
 /* justify-content: space-between; */
} 

.sliderContainer img{
  width: 100%;
  /* height: 280px; */
  height: 50%;
  border-radius: 3.125rem;
  }
